<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos del Carrito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<header class="site-header">
    <nav class="nav">
        <button onclick="redireccionar('/products/')" class="btn-cart">Ver Productos 🛒</button>
        <button type="submit" class="btn-logout" onclick="logout()">Cerrar sesión</button>
    </nav>
</header>
<body>
    {{{body}}}
    <script>
        function logout() {
            fetch("/logout")
            .then(response => {
                if (response.ok) {
                    window.location.href = "/";
                } else {
                    console.error("Error al cerrar sesión");
                }
            })
            .catch(error => console.error("Error:", error));
        }
    </script>
</body>
</html>